@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}
@layer base {
  :root {
    --color-sidebar-text: #cfdce6;
    --color-sidebar-bg: #2d3540;
    --color-sidebar-icon-hover: #7997f4;
    --color-sidebar-underline: #7997f4;
    --color-bg: #e6ecf0;
    --color-fill: #adbbcc;
  }
  .theme-admin {
    --color-sidebar-text: #000000;
    --color-sidebar-bg: #1d57ba;
    --color-sidebar-icon-hover: #3ef61a;
    --color-sidebar-underline: #3ef61a;
    --color-bg: #1c1c1c;
    --color-fill: #3db956;
  }
}
